# Monitoring Stack Configuration
BASE_DOMAIN=example.domain
HOSTNAME=docker-vm

# Retention settings
PROMETHEUS_RETENTION=60d
LOKI_RETENTION=1440h # 60d

# traefik-oidc-auth plugin
TRAEFIK_OIDC_AUTH_SECRET=<traefik-oidc-secret>
PROMETHEUS_CLIENT_ID=<prometheus-client-id-in-zitadel>
ALLOY_CLIENT_ID=<alloy-client-id-in-zitadel>