opnsense-flint2-vlan-status.md filter=crypt diff=crypt merge=crypt
opnsense-rebuild-runbook.md filter=crypt diff=crypt merge=crypt
sanctum-disaster-recovery.md filter=crypt diff=crypt merge=crypt
CLAUDE.md filter=crypt diff=crypt merge=crypt
*.tfvars filter=crypt diff=crypt merge=crypt
*.secret.* filter=crypt diff=crypt merge=crypt
*.crt filter=crypt diff=crypt merge=crypt
*.key filter=crypt diff=crypt merge=crypt
*.pem filter=crypt diff=crypt merge=crypt
stack.env  filter=crypt diff=crypt merge=crypt