auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096
  http_server_read_timeout: 120s
  http_server_write_timeout: 120s
  grpc_server_max_recv_msg_size: 33554432  # 32MB
  grpc_server_max_send_msg_size: 33554432  # 32MB

common:
  instance_addr: 127.0.0.1
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

querier:
  max_concurrent: 4
  
query_scheduler:
  max_outstanding_requests_per_tenant: 256

query_range:
  align_queries_with_step: true
  parallelise_shardable_queries: false
  results_cache:
    cache:
      embedded_cache:
        enabled: true
        max_size_mb: 200

frontend:
  max_outstanding_per_tenant: 256
  compress_responses: true

schema_config:
  configs:
    - from: 2020-10-24
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

ruler:
  alertmanager_url: http://localhost:9093

limits_config:
  retention_period: 168h
  ingestion_rate_mb: 10
  ingestion_burst_size_mb: 20
  per_stream_rate_limit: 10MB
  per_stream_rate_limit_burst: 50MB
  max_query_length: 721h
  max_query_lookback: 721h
  max_entries_limit_per_query: 5000
  query_timeout: 2m
  split_queries_by_interval: 30m

compactor:
  working_directory: /loki/compactor
  compaction_interval: 10m
  retention_enabled: true
  retention_delete_delay: 2h
  retention_delete_worker_count: 150
  delete_request_store: filesystem

analytics:
  reporting_enabled: true