variant: flatcar
version: 1.1.0

storage:
  files:
    - path: /etc/environment
      mode: 0644
      append:
        - inline: |
            LANG=C.UTF-8
            LC_ALL=C.UTF-8
    - path: /etc/locale.conf
      mode: 0644
      overwrite: true
      contents:
        inline: |
          LANG=C.UTF-8
          LC_ALL=C.UTF-8
  links:
    - path: /etc/localtime
      target: /usr/share/zoneinfo/Europe/Berlin
      overwrite: true