PGUSER=postgres
POSTGRES_PASSWORD=postgres
BASE_DOMAIN=example.domain
ZITADEL_EXTERNALDOMAIN=zitadel.${BASE_DOMAIN}
ZITADEL_EXTERNALPORT=443
ZITADEL_EXTERNALSECURE=true
ZITADEL_DATABASE_POSTGRES_HOST=zitadel-db
ZITADEL_DATABASE_POSTGRES_PORT=5432
ZITADEL_DATABASE_POSTGRES_DATABASE=zitadel
ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME=postgres
ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD=postgres
ZITADEL_DATABASE_POSTGRES_ADMIN_SSL_MODE=disable
ZITADEL_DATABASE_POSTGRES_USER_USERNAME=zitadel
ZITADEL_DATABASE_POSTGRES_USER_PASSWORD=zitadel
ZITADEL_DATABASE_POSTGRES_USER_SSL_MODE=disable
ZITADEL_OIDC_DEFAULTLOGINURLV2=https://${ZITADEL_EXTERNALDOMAIN}/ui/v2/login/login?authRequest=
ZITADEL_OIDC_DEFAULTLOGOUTURLV2=https://${ZITADEL_EXTERNALDOMAIN}/ui/v2/login/logout?post_logout_redirect=
ZITADEL_SAML_DEFAULTLOGINURLV2=https://${ZITADEL_EXTERNALDOMAIN}/ui/v2/login/login?samlRequest=
ZITADEL_DEFAULTINSTANCE_DOMAINPOLICY_USERLOGINMUSTBEDOMAIN=false
ZITADEL_DEFAULTINSTANCE_FEATURES_LOGINV2_REQUIRED=true
ZITADEL_DEFAULTINSTANCE_FEATURES_LOGINV2_BASEURI=https://${ZITADEL_EXTERNALDOMAIN}/ui/v2/login
ZITADEL_FIRSTINSTANCE_INSTANCENAME=Sanctum
ZITADEL_FIRSTINSTANCE_ORG_NAME=Sanctum
ZITADEL_FIRSTINSTANCE_PATPATH=/config/admin.pat
ZITADEL_FIRSTINSTANCE_MACHINEKEYPATH=/config/admin_key.json
ZITADEL_FIRSTINSTANCE_LOGINCLIENTPATPATH=/config/login-client.pat
ZITADEL_FIRSTINSTANCE_ORG_LOGINCLIENT_MACHINE_USERNAME=login-client
ZITADEL_FIRSTINSTANCE_ORG_LOGINCLIENT_MACHINE_NAME=Zitadel Login v2 Client
ZITADEL_FIRSTINSTANCE_ORG_LOGINCLIENT_PAT_EXPIRATIONDATE=2035-02-01T00:00:00Z
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINE_USERNAME=admin-service
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINE_NAME=Admin API Service Account
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINEKEY_TYPE=1
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINEKEY_EXPIRATIONDATE=2035-02-01T00:00:00Z
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_PAT_EXPIRATIONDATE=2035-02-01T00:00:00Z
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_USERNAME=divStar@${BASE_DOMAIN}
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_FIRSTNAME=divStar
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_LASTNAME=Example
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_DISPLAYNAME=divStar Example (Zitadel Admin)
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_EMAIL_ADDRESS=divStar@${BASE_DOMAIN}
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_EMAIL_VERIFIED=true
ZITADEL_API_URL=http://localhost:8080
CUSTOM_REQUEST_HEADERS=Host:zitadel.${BASE_DOMAIN}
NEXT_PUBLIC_BASE_PATH=/ui/v2/login
ZITADEL_SERVICE_USER_TOKEN_FILE=/config/login-client.pat