proxmox = {
  name     = "sanctum"
  host     = "192.168.178.25"
  ssh_user = "root"
  ssh_key  = "~/.ssh/id_rsa"
  username = "root@pam"
  password = "some-password"
  insecure = false
}

acme = {
  contact         = "admin@my.world"
  name            = "step-ca-acme"
  proxmox_domains = ["sanctum.my.world"]
}
fingerprint_file = "/path/to/the/secret_fingerprint"