MANAGEMENT_IP=10.0.5.100
TRAEFIK_PROVIDERS_DOCKER_NETWORK=management-network
TRAEFIK_PROVIDERS_DOCKER_CONSTRAINTS=Label(`traefik-tier`,`management`)
TRAEFIK_CERTIFICATESRESOLVERS_STEPCA_ACME_STORAGE=/certs/acme-management.json
