TZ=Europe/Berlin
BASE_DOMAIN=example.domain
TRAEFIK_LOG_LEVEL=INFO
TRAEFIK_ACCESSLOG=true
TRAEFIK_API=true
TRAEFIK_API_DASHBOARD=true
TRAEFIK_API_INSECURE=true
TRAEFIK_PROVIDERS_DOCKER=true
TRAEFIK_PROVIDERS_DOCKER_EXPOSEDBYDEFAULT=false
TRAEFIK_PROVIDERS_DOCKER_NETWORK=services-network
TRAEFIK_ENTRYPOINTS_WEB_ADDRESS=:80
TRAEFIK_ENTRYPOINTS_WEBSECURE_ADDRESS=:443
TRAEFIK_ENTRYPOINTS_MQTT_ADDRESS=:1883
TRAEFIK_ENTRYPOINTS_MQTTWS_ADDRESS=:9001
TRAEFIK_ENTRYPOINTS_POSTGRES_ADDRESS=:5432
TRAEFIK_ENTRYPOINTS_WEB_HTTP_REDIRECTIONS_ENTRYPOINT_TO=websecure
TRAEFIK_ENTRYPOINTS_WEB_HTTP_REDIRECTIONS_ENTRYPOINT_SCHEME=https
TRAEFIK_ENTRYPOINTS_WEBSECURE_HTTP_TLS=true
TRAEFIK_ENTRYPOINTS_WEBSECURE_HTTP_TLS_CERTRESOLVER=stepca
TRAEFIK_CERTIFICATESRESOLVERS_STEPCA_ACME_EMAIL=admin@${BASE_DOMAIN}
TRAEFIK_CERTIFICATESRESOLVERS_STEPCA_ACME_STORAGE=/certs/acme.json
TRAEFIK_CERTIFICATESRESOLVERS_STEPCA_ACME_CASERVER=https://step-ca.${BASE_DOMAIN}/acme/step-ca-acme/directory
TRAEFIK_CERTIFICATESRESOLVERS_STEPCA_ACME_TLSCHALLENGE=true
LEGO_CA_CERTIFICATES=/etc/ssl/certs/ca-certificates.crt
TRAEFIK_EXPERIMENTAL_PLUGINS_TRAEFIK-OIDC-AUTH_MODULENAME=github.com/sevensolutions/traefik-oidc-auth
TRAEFIK_EXPERIMENTAL_PLUGINS_TRAEFIK-OIDC-AUTH_VERSION=v0.16.0
TRAEFIK_OIDC_AUTH_SECRET=<redacted>
ZITADEL_APPLICATION_CLIENT_ID=<redacted>