BASE_DOMAIN=example.domain
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=<grafana-admin-password>
GF_SERVER_ROOT_URL=https://grafana.${BASE_DOMAIN}
GF_SECURITY_CSRF_TRUSTED_ORIGINS=grafana.${BASE_DOMAIN}
GF_AUTH_GENERIC_OAUTH_ICON=signin
