BASE_DOMAIN=example.domain
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=<grafana-admin-password>
GF_SERVER_ROOT_URL=https://grafana.${BASE_DOMAIN}
GF_SECURITY_CSRF_TRUSTED_ORIGINS=grafana.${BASE_DOMAIN}
GF_AUTH_GENERIC_OAUTH_ICON=signin
GF_SMTP_ENABLED=true
GF_SMTP_HOST=smtp.gmail.com:587
GF_SMTP_USER=<gmail-address>
GF_SMTP_PASSWORD=<gmail-app-password>
GF_SMTP_FROM_ADDRESS=<gmail-address-with-plus-suffix>
GF_SMTP_FROM_NAME=[Sanctum] Grafana
GF_SMTP_STARTTLS_POLICY=MandatoryStartTLS
