BASE_DOMAIN=example.com
APP_HOME_URL=https://homarr.${BASE_DOMAIN}
SECRET_ENCRYPTION_KEY=<random_hex_64>
# OIDC setup
NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt
AUTH_PROVIDERS=oidc,credentials
AUTH_OIDC_ISSUER=https://zitadel.${BASE_DOMAIN}
AUTH_OIDC_CLIENT_ID=<oidc_client_id>
AUTH_OIDC_CLIENT_SECRET=<oidc_client_secret>
AUTH_OIDC_CLIENT_NAME=Zitadel
AUTH_OIDC_GROUPS_ATTRIBUTE=groups
AUTH_OIDC_TOKEN_ENDPOINT_AUTH_METHOD=client_secret_basic
AUTH_OIDC_AUTO_LOGIN=false
