proxmox = {
  name     = "sanctum"
  host     = "sanctum.my.world"
  ssh_user = "root"
  ssh_key  = "~/.ssh/id_rsa"
  username = "root@pam"
  password = "some-password"
  insecure = false
}

pbs = {
  server    = "sanctum-pbs.my.world"
  datastore = "primary"
}
