BASE_DOMAIN=my.world
URL=https://outline.${BASE_DOMAIN}
REDIS_URL=redis://outline-redis:6379
SECRET_KEY=<secret_key>
UTILS_SECRET=<utils_secret>
PGUSER=postgres
POSTGRES_PASSWORD=postgres
PGSSLMODE=disable
POSTGRES_USER=outline
POSTGRES_PASSWORD=<outline_db_password>
POSTGRES_DB=outline
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@outline-db:5432/${POSTGRES_DB}
# Storage
AWS_REGION=local
FILE_STORAGE=local
FILE_STORAGE_LOCAL_ROOT_DIR=/var/lib/outline/data
FILE_STORAGE_UPLOAD_MAX_SIZE=262144000
FILE_STORAGE_IMPORT_MAX_SIZE=
FILE_STORAGE_WORKSPACE_IMPORT_MAX_SIZE=
# OIDC setup
NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt
EMAIL_LOGIN_ENABLED=true
OIDC_CLIENT_ID=<oidc_client_id>
OIDC_CLIENT_SECRET=<oidc_client_secret>
OIDC_AUTH_URI=https://zitadel.my.world/oauth/v2/authorize
OIDC_TOKEN_URI=https://zitadel.my.world/oauth/v2/token
OIDC_USERINFO_URI=https://zitadel.my.world/oidc/v1/userinfo
OIDC_LOGOUT_URI=https://zitadel.my.world/oidc/v1/end_session?post_logout_redirect_uri=https://outline.my.world/
OIDC_SCOPES=openid profile email
OIDC_DISABLE_REDIRECT=true